@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import 'tailwindcss';

@font-face {
	font-family: 'tt-master';
	src: url('/tt-masters-demo.mastersdemoblack.otf') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap; /* Agar teks tetap muncul saat font loading */
}

@font-face {
	font-family: 'tt-chocolates';
	src: url('/tt_chocolates/TT Chocolates Trial Regular.otf') format('woff2');
	font-style: normal;
	font-display: swap;
}

* {
	font-family: 'tt-chocolates', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

header, h1, h2,h3 {
	/* font-family: "Plus Jakarta Sans", sans-serif; */
	font-family: 'tt-master', sans-serif !important;
	font-optical-sizing: auto;
	font-style: normal;
}

.text-master {
	/* font-family: "Plus Jakarta Sans", sans-serif; */
	font-family: 'tt-master', sans-serif !important;
	font-optical-sizing: auto;
	font-style: normal;
}
